* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #8c153f7a;
}

h2 {
    text-align: center;
    color: #ecebe1;
    padding: 1rem 0;
    margin: 0 0 2rem 0;
}

body {
    background-color: #ecebe1;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    font-size: 18px;
    height: 2rem;
    border-radius: 0.3rem;
    border: 0.5px solid #DAD8C3;
    outline: none;
    color: #8c153e;
}

form input[type="text"] {
    padding: 0.1rem 0.2rem;
}

form button {
    border: 1px solid #8c153e;
    font-size: 18px;
    width: 5rem;
    height: 2rem;
    background-color: #DAD8C3;
    color: #8c153e;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.2rem 0.3rem;
    margin: 0 0 0 1rem;
}

form button:hover {
    background-color: #8c153e;
    color: #DAD8C3;
}

.root {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    /* background-color: #8C153E; */
    color: #8C153E;
    border-radius: 0.3rem;
    padding: 0.5rem 0 0.5rem 0;
}

.root .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 1rem;
}

.root .container .card {
    display: flex;
    width: 100%;
    background-color: #8C153E;
    color: #DAD8C3;
    border-radius: 8px;
    padding: 0.5rem 0.2rem;
    max-height: min-content;
    box-shadow: #8c153e8c 5px 4px;
    flex-direction: column;
    align-items: center;
}

.root .container .card img {
    height: 5rem;
    width: 5rem;
}

.root .container .card .content {
    display: flex;
    width: 90%;
    margin: 0 5px;
    align-items: flex-start;
    flex-direction: column;
}

.root .container .card .content .ele1 {
    max-width: min-content;
}

.root .container .card .content .ele2 {
    display: flex;
    flex-direction: column;
}

.root .container .card .content .ele2 span {
    font-size: bold;
    margin: 0.5rem 0 0 0;
}

.root .container .card .content .ele2 .span1::before {
    content: "Stars: ";
}

.root .container .card .content .ele2 .span2::before {
    content: "Issues: ";
}