* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    background-color: #ecebe1;
}

form {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

form h2 {
    margin-bottom: 2rem;
    text-align: center;
    color: #8c153e;
}

form input {
    border-radius: 0.3rem;
    border: 0.5px solid #DAD8C3;
    outline: none;
    color: #8c153e;
}

form input[type="text"] {
    padding: 0.2rem 0.3rem;
}

form button {
    margin-top: 1rem;
    background-color: #DAD8C3;
    color: #8c153e;
    outline: none;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.2rem 0.3rem;
}

form button:hover {
    background-color: #8c153e;
    color: #DAD8C3;
}

form p {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #8C153E;
    color: #DAD8C3;
    border-radius: 0.3rem;
    padding: 0.5rem 0 0.5rem 0;
}